affine==2.4.0
attrs==25.3.0
certifi==2025.8.3
click==8.2.1
click-plugins==1.1.1.2
cligj==0.7.2
colorama==0.4.6
GDAL==3.6.1
numpy==1.25.2
pyparsing==3.2.4
PyQt6==6.9.1
PyQt6-Qt6==6.9.2
PyQt6_sip==13.10.2
rasterio==1.4.3